---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

type Props = {
	release: CollectionEntry<'releases'>;
};

const { release } = Astro.props;
const bannerStyle = `background: 
	linear-gradient(to top, rgba(17, 17, 17, 1), rgba(17, 17, 17, .8), rgba(17, 17, 17, .4), transparent), 
	url(${release.data.banner || ''}) top center/cover;`

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={release.data.title}
			description={release.data.description}
			image={release.data.image}
		/>
	</head>
	<body>
		<div 
			class="hero"
			style={bannerStyle}
		/>

		<Header />
		<main class="container">
			<div class="post single" transition:persist transition:name="post">
				<div class="version_wrapper">
					<div class="version_info">
						<div class="version_number">{release.data.versionNumber}</div>
						<FormattedDate class="date" date={release.data.date} />
					</div>
				</div>
				<div class="content">
					<slot />
				</div>
			</div>
			<Footer />
		</main>
	</body>
</html>